html, body {
  font-family: 'arial';
  height: 100%;
  margin: 0;
}

header{
  height: 30px;
  background-color: RGB(100, 100, 100);
}

.menu-item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  width: 70px;
  color: RGB(230, 230, 230);
}

.menu-item:hover {
  background-color: RGB(30, 30, 30)
}

a {
  color: RGB(230, 230, 230);
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1 {
  margin: 10px;
  color: RGB(100, 100, 100);
}

h2 {
  margin: 30px;
  color: RGB(150, 150, 150);
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid RGB(30, 30, 30);
}

.red {
  background-color: RGB(150, 100, 100);
}

.green {
  background-color: RGB(100, 150, 100);
}

.blue {
  background-color: RGB(100, 100, 150);
}

.router-wrapper {
  height: 100%;
}

#mountNode {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  margin-bottom: -100px;
}

.push {
  height: 200px;
}

footer {
  width: 100%;
  height: 200px;
  margin: 0;
  line-height: 200px;
  text-align: center;
  color: RGB(250, 250, 250);
  background-color: RGB(50, 50, 50);
}

.quote {
  font-style: italic;
  margin:0;
}
